@font-face {
  font-family: 'Kalam';
  src: url("../assets/font/Kalam-Regular.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Biryani';
  background-color: #b87a63;
  color: #f8deae; }

a {
  text-decoration: none;
  font-size: 18px; }

p {
  line-height: 1.5;
  text-align: justify; }

ul {
  list-style-type: none;
  margin-left: 15px; }

.container {
  max-width: 120vw;
  margin: 0 auto; }

.titulo {
  background-image: url(../assets/img/fondoJusticia.jpg);
  background-size: cover;
  height: 400px;
  background-attachment: fixed; }
  .titulo h1 {
    font-family: 'Kalam';
    font-size: 6rem;
    letter-spacing: 15px;
    margin-left: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em black; }
  .titulo h2 {
    font-family: 'Kalam';
    font-size: 4rem;
    letter-spacing: 5px;
    margin-left: 3.5rem;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.2em black; }

.text {
  font-size: 16px;
  margin: 20px 15px; }

@media screen and (max-width: 665px) {
  .titulo {
    width: 100%; }
    .titulo h1 {
      font-size: 4rem; }
    .titulo h2 {
      display: none; } }

@media screen and (max-width: 453px) {
  .titulo {
    width: 100%; }
    .titulo h1 {
      font-size: 3rem; } }

.header {
  background-color: #7e433e;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  height: 10rem;
  top: 0;
  width: 100%;
  position: sticky; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 85vw;
    transition: transform 0.3s; }
    .header__menu a:active {
      transform: scale(0.9); }

.menu__nav {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .menu__nav li {
    margin: 0 15px;
    transition: transform 0.3s; }
    .menu__nav li:active {
      transform: scale(0.9); }
    .menu__nav li a {
      color: #f8deae;
      border-bottom: 2px;
      font-weight: bold;
      transition: color 0.3s; }
      .menu__nav li a:hover {
        color: #727F8F; }
  .menu__nav-title {
    font-family: 'Kalam';
    color: #f8deae;
    font-size: 4rem;
    transition: color 0.3s;
    font-weight: bold; }
    .menu__nav-title:hover {
      color: #727F8F; }
    .menu__nav-title:hover::after {
      content: 'inicio';
      margin-left: 8px;
      color: #727F8F;
      font-size: 2rem; }

@media screen and (max-width: 665px) {
  .menu__nav {
    display: none; } }

.card {
  background-color: #f8deae;
  border-radius: 10px;
  color: #7e433e;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }
  .card:hover {
    transform: translateY(15px); }
  .card__title {
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem; }
  .card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 350px; }
  .card__description {
    padding: 5px;
    margin: 10px; }
    .card__description-list {
      display: inline-block;
      margin-top: 5px;
      padding-top: 0;
      margin-left: 2rem;
      height: 0%;
      justify-content: space-around;
      font-size: 1.5rem; }
  .card__link {
    background-color: #7e433e;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s; }
    .card__link:active {
      transform: scale(0.9); }
  .card p {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 16px; }
  .card__video {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover; }

.courses {
  margin-top: 35px;
  margin-bottom: 35px; }
  .courses__grid {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    gap: 5px; }
  .courses__grid1 {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    /* margenes alrededorde cada celda */
    gap: 10px;
    justify-content: space-around; }
  .courses__titulo {
    font-family: 'Kalam';
    src: url("../font/Kalam-Bold.ttf");
    font-size: 2.5rem;
    height: 3rem;
    margin-top: 30px;
    padding-left: 3rem; }

.cursado {
  padding: 1rem;
  font-size: 18px;
  margin: 20px 10px; }
  .cursado ul li {
    margin-left: 30px;
    list-style-type: square; }

.posicion {
  position: relative;
  width: 100px;
  height: 100px; }

.wsp {
  position: absolute;
  right: 0;
  bottom: 0;
  position: fixed; }

.map {
  padding: 5px;
  width: 90%;
  height: 100%; }
  .map__img {
    margin-left: 15px; }
    .map__img h2 {
      font-size: 20px; }
    .map__img p {
      font-size: 18px;
      margin: 20px 15px; }
    .map__img img {
      width: 100%;
      border-radius: 10px;
      border: solid 5px #f8deae; }

@media (max-width: 992px) {
  .courses__grid {
    grid-template-columns: repeat(2, 1fr); }
  .courses__grid1 {
    grid-template-columns: repeat(2, 1fr); }
  .map__img {
    width: 90%; } }

@media screen and (max-width: 665px) {
  .courses__grid {
    grid-template-columns: 1fr; }
  .courses__grid1 {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 453px) {
  .map__img {
    width: 100%; } }

.footer {
  background-color: #7e433e;
  color: #f8deae;
  padding: 30px 20px;
  margin-top: 50px; }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; }
    .footer__grid h3 {
      text-align: center; }
  .footer__rrss {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly; }
    .footer__rrss a {
      color: #f8deae;
      transition: color 0.3s; }
      .footer__rrss a:hover {
        color: #727F8F; }

.padre {
  display: grid;
  margin-left: 25px;
  width: 100%;
  border: solid 1px #f8deae;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  grid-template-areas: "hijo . ." "hijo . ." "hijito hijito hijito";
  overflow: hidden; }

.hijo {
  grid-area: hijo; }
  .hijo img {
    height: 100%; }

.aver {
  grid-area: hijito; }
  .aver img {
    margin: 10px;
    height: 85%; }
  .aver article {
    display: inline-block; }
    .aver article ul li {
      margin-left: 10px;
      list-style-type: square; }

.divs {
  font-size: 21px;
  padding: 5px; }
  .divs img {
    border-radius: 10px;
    overflow: hidden; }

.formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  position: fixed;
  color: #7e433e;
  background-color: #f8deae;
  padding: 0.5rem;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }
  .formulario__form {
    text-align: left;
    line-height: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold; }

@media (max-width: 992px) {
  .formulario {
    display: none; }
    .formulario__form {
      display: none; }
  .padre {
    display: block;
    overflow: hidden; }
  .hijo {
    width: 80%; } }

@media screen and (max-width: 665px) {
  .formulario {
    display: none; }
    .formulario__form {
      display: none; }
  .padre {
    display: block; } }

@media screen and (max-width: 453px) {
  .padre {
    display: block; } }
